<section class="dashboard">
  <h1>Fusion Ignite - dashboard</h1>

  <div class="kpis">
    <div class="kpi"><strong> Vendas do mês: </strong> R$ {{ kpis.sales }}</div>
    <div class="kpi"><strong> Conversão: </strong> {{ kpis.conversion }}</div>
    <div class="kpi"><strong> Leads:</strong> {{ kpis.leads }}</div>
  </div>

  <div class="chart">
    <h2>Gráfico de vendas</h2>
    <div class="chart-header">
      <button (click)="toggleChartType()">
        Alterar gráfico para {{ barChartType == "bar" ? "Pizza" : "Barras" }}
      </button>
    </div>
  </div>

  <canvas
    baseChart
    [data]="barChartData"
    [type]="barChartType"
    [options]="barChartOptions"
  >
  </canvas>
</section>
